{% extends 'task/layout.html' %}
<!-- Titlw -->
{% block title %}
<title>Task</title>
{% endblock %}

<!-- main content -->
{% block main %}
<h2>LIST OF TASKS</h2>
<hr>




<table>
    <thead>
        <tr>
            <th>Task</th>
            <th>Date Created</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td><a href="{% url 'task' task.id %}">{{task.title}}</a></td>
            <td>{{task.date_posted}}</td>
            <td><a href="{% url 'update' task.id %}">Edit</a></td>
            <td><a href="{% url 'delete' task.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr>
<a href="{% url 'create'%}">Add Task</a>

{% endblock %}